
{% extends './layout.html' %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
      Page 3
    </div>
    <div class="card-body">
      <h5 class="card-title">Blog Page</h5>
      <p class="card-text">This is the blog page content for your Fakebook.</p>
      <a href="#" class="btn btn-primary">Click this button, just for fun</a>
    </div>
    <div class="card-footer text-muted">
      Application founded 7/11/2022 &copy; Kyler Ramsey
    </div>
  </div>
{% endblock content %}